@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fjalla One", sans-serif;
}
.top{
    position: relative;
    width: 100%;
    min-height:100vh ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(sky.jpg)no-repeat;
    background-size:cover ;
    background-position: center;
    
}


header{
position: relative;
top: 0;
width: 100%;
padding: 30px 100px;
display:flex;
justify-content: space-between;
align-items: center;
}

.logo{
    position: relative;
    color: #000;
    font-size: 30px;
text-decoration: none;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 1px;


    

}

.nav a{
color: #000;

text-decoration: none;
font-weight: 500;
letter-spacing: 1px;
padding: 2px 15px;
border-radius: 20px;
transition: 0.3s;
transition-property:background;

}

.nav a:not(:last-child){
    margin-right: 30px;

}
.nav a:hover{
 background: #fff;
}

.plans{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    }
.plans a{
    color: #000;

    text-decoration:none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property:background;
    
    


}
.plans a:hover{
 background: #fff;
}


.header {
    font-family: monospace;
    

}
.info{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.products{
    position: relative;
    width: 100%;
    padding: 30px 50px;
    min-height:100vh ;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size:cover ;
    background-position: center;
}

.typing {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-effect {
    width: 26ch;
    animation: typing 2s steps(22), effect .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1em;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
      
  @keyframes effect {
    50% {
      border-color: transparent;
    }
  }

  label{
    display: none;
  }

  #check{
    z-index: 3;
  }
  /*non media */
  img{
    display: flex;
    justify-content:center;
    border: 2px solid ;
   
      padding: px 15px;
      border-radius: 20px;
  }
  .new{
    border:3px solid black;
    background-color: #fff;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    font-size: 2em;
    display: flex;
    justify-content: center;
  }
/*somehow this code has an error but makes the output complete by not displaying the menu button*/
  @media (max-width:960px){
    div.nav{
       display: none;
   }





  label{
    display:block;
    padding: 0px 20px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;

  }
   label:hover{
    color: #fff;
   }

   label .fa-x{
    display: none;
   }
  
  img.new-release{
    display: flex;
    justify-content:center;
    border: 2px solid ;
    letter-spacing: 1px;
      padding: px 15px;
      border-radius: 20px;
  }
    
    .new{
      border:3px solid black;
      background-color: #fff;
      letter-spacing: 1px;
      padding: 2px 15px;
      border-radius: 20px;
      font-size: 2em;
      display: flex;
      justify-content: center;
    }
    
  }
  /*THIS IS FOR NON BACKGROUND */
  .topsimple{
    position: relative;
    width: 100%;
    min-height:10vh ;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    background-size:cover ;
    background-position: center;
    
    

}
.title-page{
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content:space-between ;
}
section.shorts{
  background-color:black;
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img.shorts-pic{
position: relative;
margin: px;
width: 200px;
padding: 10px 10px;
border-color: #000;

}

.price{
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  
